In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [5]:
bank = pd.read_excel("Bank_Personal_Loan_Modelling.xlsx")

In [7]:
bank.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [9]:
bank.isnull().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [16]:
bank = bank.rename(columns = {'Personal Loan':'Personal_Loan','Securities Account':'Securities_Account','CD Account':'CD_Account'})
bank.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [98]:
bank.corr()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal_Loan,Securities_Account,CD_Account,Online,CreditCard
ID,1.000000,-0.008473,-0.008326,-0.017695,0.013432,-0.016797,-0.024672,0.021463,-0.013920,-0.024801,-0.016972,-0.006909,-0.002528,0.017028
Age,-0.008473,1.000000,0.994215,-0.055269,-0.029216,-0.046418,-0.052030,0.041334,-0.012539,-0.007726,-0.000436,0.008043,0.013702,0.007681
Experience,-0.008326,0.994215,1.000000,-0.046574,-0.028626,-0.052563,-0.050089,0.013152,-0.010582,-0.007413,-0.001232,0.010353,0.013898,0.008967
Income,-0.017695,-0.055269,-0.046574,1.000000,-0.016410,-0.157501,0.645993,-0.187524,0.206806,0.502462,-0.002616,0.169738,0.014206,-0.002385
ZIP Code,0.013432,-0.029216,-0.028626,-0.016410,1.000000,0.011778,-0.004068,-0.017377,0.007383,0.000107,0.004704,0.019972,0.016990,0.007691
Family,-0.016797,-0.046418,-0.052563,-0.157501,0.011778,1.000000,-0.109285,0.064929,-0.020445,0.061367,0.019994,0.014110,0.010354,0.011588
CCAvg,-0.024672,-0.052030,-0.050089,0.645993,-0.004068,-0.109285,1.000000,-0.136138,0.109909,0.366891,0.015087,0.136537,-0.003620,-0.006686
Education,0.021463,0.041334,0.013152,-0.187524,-0.017377,0.064929,-0.136138,1.000000,-0.033327,0.136722,-0.010812,0.013934,-0.015004,-0.011014
Mortgage,-0.013920,-0.012539,-0.010582,0.206806,0.007383,-0.020445,0.109909,-0.033327,1.000000,0.142095,-0.005411,0.089311,-0.005995,-0.007231
Personal_Loan,-0.024801,-0.007726,-0.007413,0.502462,0.000107,0.061367,0.366891,0.136722,0.142095,1.000000,0.021954,0.316355,0.006278,0.002802
Securities_Account,-0.016972,-0.000436,-0.001232,-0.002616,0.004704,0.019994,0.015087,-0.010812,-0.005411,0.021954,1.000000,0.317034,0.012627,-0.015028
CD_Account,-0.006909,0.008043,0.010353,0.169738,0.019972,0.014110,0.136537,0.013934,0.089311,0.316355,0.317034,1.000000,0.175880,0.278644
Online,-0.002528,0.013702,0.013898,0.014206,0.016990,0.010354,-0.003620,-0.015004,-0.005995,0.006278,0.012627,0.175880,1.000000,0.004210
CreditCard,0.017028,0.007681,0.008967,-0.002385,0.007691,0.011588,-0.006686,-0.011014,-0.007231,0.002802,-0.015028,0.278644,0.004210,1.000000

In [179]:
y = bank.Personal_Loan
X = bank.loc[:,['Income','CCAvg','CD_Account']]

In [180]:
model_logr = LogisticRegression()

In [181]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3,random_state=14)

In [182]:
X_train.shape

(3500, 3)

In [183]:
X_test.shape

(1500, 3)

In [184]:
model_logr.fit(X_train,y_train)

LogisticRegression()

In [185]:
y_predict = model_logr.predict(X_test)

In [186]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [187]:
y_test

3448    0
1136    0
2965    0
2112    0
4801    0
       ..
3884    0
952     0
3849    0
4289    0
1894    0
Name: Personal_Loan, Length: 1500, dtype: int64

In [188]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.94      0.97      0.96      1363
           1       0.59      0.39      0.47       137

    accuracy                           0.92      1500
   macro avg       0.77      0.68      0.72      1500
weighted avg       0.91      0.92      0.91      1500

In [189]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_predict)

array([[1326,   37],
       [  83,   54]], dtype=int64)